@import "~bootstrap/dist/css/bootstrap.min.css";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #0e7e12;
  box-sizing: border-box;
}

.card {
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  font-size: 10rem;
  position: relative;
  height: 30rem;
  width: 20rem;
  border-radius: 0.4rem;
  border: 0.4rem;

  &:before {
    top: 0.1rem;
    left: 0.5rem;
    position: absolute;
    font-size: 8rem;
  }
  &:after {
    bottom: 0.1rem;
    right: 0.5rem;
    position: absolute;
    font-size: 8rem;
    transform: scaleY(-1);
  }

  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
span {
  margin: auto;
}

button {
  margin-left: 10rem;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  padding: 5px;
  color: whitesmoke;
  background-color: #f9fafa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.div-button {
  margin: 10rem;
}
